*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
}

.container{
    text-align: center;
}
.grid{
    margin: 0 auto;
    height: 960px;
    width: 960px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}